<!DOCTYPE html>
<html>
  <head>
    <title>BKMK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body style="background-color: #F2F2F2;">
    <h1>BKMK</h1>
    <p>Welcome to the BKMK app! This is as good of a UI as we are gonna build but you could upload urls and find answers within your saved articles here!</p>
    <hr>
    <div>
      <div class="form">
        <form method="post">
          <label for="url">Enter URL:</label>
          <input type="text" id="url" name="url">
          <button type="submit">Store article</button>
        </form>
      </div>
      <div class="form">
        <form method="post">
          <label for="query">Ask Question:</label>
          <input type="text" id="query" name="query">
          <button type="submit">Generate answer</button>
        </form>
      </div>
    </div>
    {% if message %}
      <h2>{{ message }}</h2>
    {% endif %}
    <hr>

    <a href="{{ url_for('get_urls') }}"><button type="submit">Saved Articles</button></a>
    <center>
    <div class="powered-by">Powered by ChatGPT</div>
    </center>
  </body>
</html>
